@main("TrackMyPet") {
  <div style="font-weight: bold; text-align: center; font-size: 150%; width: 100%; font-family: sans-serif; padding: 5px;">
     TrackMyPet: a proof a concept for a Sigfox network enabled GPS tracker
  </div>

  <div id="map" style="height:600px; width: 100% "></div>

  <div style="font-weight: bold; text-align: center; font-family: sans-serif; padding: 5px;">
    Get the server code on GitHub: <a href="https://github.com/Ekito/hackerz-server">hackerz-server</a> -
    Get the arduino code on GitHub: <a href="https://github.com/Ekito/hackerz-akeru">hackerz-akeru</a>
  </div>

  <div style="font-weight: normal; text-align: justified; font-family: sans-serif; padding: 5px;">
    Technical porn:
    <ul>
      <li>GPS tracker: <a href="http://akeru.cc/">Arduino board with sigfox modem</a>, homemade battery shield, MTK3339 GPS module. <a href="https://twitter.com/boudouarnaud/status/447405133287018496">Bring da picturez</a></li>
      <li>Application server: Play! 2.2 application hosted on Heroku Server, Kinvey datastore for GPS data persistence.</li>
      <li>Optional: <a href="https://twitter.com/boudouarnaud/status/447672854964740096">Eros, the russian tortoise</a>.
  </div>
}
